@model CreatePetListing

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create a pet listing</h1>

<form asp-action="Create">
<div class="row gtr-uniform">
    <div class="col-12">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Breed"></label>
        <input asp-for="Breed" class="form-control" />
        <span asp-validation-for="Breed" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" style="width:100%" type="text"/>
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Gender"></label>
        @Html.DropDownListFor(model => model.Gender,
            new SelectList(new List<string> { "Male", "Female" }),
            "Choose Gender",
            new { @class = "form-control" })

        <span asp-validation-for="Gender" class="text-danger"></span>
       
    </div>
    <div class="col-12">
        <label asp-for="AdoptionPrice" class="control-label"></label>
        <input asp-for="AdoptionPrice" class="form-control" />
        <span asp-validation-for="AdoptionPrice" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="IsCastrated"></label>
        @Html.DropDownListFor(model => model.IsCastrated,
            new SelectList(new List<string> { "Yes", "No" }),
            "Choose option",
            new { @class = "form-control" })

        <span asp-validation-for="IsCastrated" class="text-danger"></span>
       
    </div>
    <div class="col-12">
        <label asp-for="Coat"></label>
        @Html.DropDownListFor(model => model.Coat,
            new SelectList(new List<string> { "Short", "Medium", "Long", "Curly" }),
            "Choose Coat",
            new { @class = "form-control" })

        <span asp-validation-for="Coat" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Size"></label>
        @Html.DropDownListFor(model => model.Size,
            new SelectList(new List<string> { "Small", "Medium", "Large" }),
            "Choose Size",
            new { @class = "form-control" })

        <span asp-validation-for="Size" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="IsAffectionate"></label>
        @Html.DropDownListFor(model => model.IsAffectionate,
            new SelectList(new List<string> { "Yes", "No" }),
            "Choose option",
            new { @class = "form-control" })

        <span asp-validation-for="IsAffectionate" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="ActivityLevel"></label>
        @Html.DropDownListFor(model => model.ActivityLevel,
            new SelectList(new List<string> { "Active", "Moderate", "Low" }),
            "Choose option",
            new { @class = "form-control" })
        <span asp-validation-for="ActivityLevel" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Color" class="control-label"></label>
        <input asp-for="Color" class="form-control" />
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Status"></label>
        @Html.DropDownListFor(model => model.Status,
            new SelectList(new List<string> { "Available", "Adopted" }),
            "Choose Status",
            new { @class = "form-control" })
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="PictureUrl" class="control-label"></label>
        <input asp-for="PictureUrl" class="form-control" />
        <span asp-validation-for="PictureUrl" class="text-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-12">
        <ul class="actions">
            <li><input type="submit" value="Create" class="primary"/></li>
        </ul>
    </div>
</div>  

</form>
    
    

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
