@model IEnumerable<PAPData.Entities.Pet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Explore our beautiful dogs</h1>

<p>
    <a asp-action="Create">Create adoption listing</a>
</p>

        <section class="tiles">
            @foreach (var dog in Model)
            {
                <article>
                    <span class="image">
                        <img src="@dog.PictureUrl" alt=""/>
                    </span>
                    <a asp-action="Details" asp-route-id="@dog.PetId">
                    <h2>@dog.Name</h2>
                    <div class="content">
                        <text>@dog.Breed - @dog.Location </text>
                    </div>
                    </a>
                </article>
        
            }
        </section>
   